In [1]:
#!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
import time
import os

In [2]:
# Especificar el path (lista de nombre de directorios que contituye la ruta de búqueda actual) de chromedriver.exe 
# (descargar y guardar en tu computadora)

#Conectamos la carpeta en donde hemos descargado lo anterior con el jupyter nootebook
driver = webdriver.Chrome('chromedriver.exe')

#En esta línea de código nos pide obtener instagram mediante Chrome
driver.get('https://www.edestinos.com.pe/')

C:\Users\ANTHONY\AppData\Local\Temp/ipykernel_12032/2533180339.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [3]:
time.sleep(2) #Tiempo para cargar la pagina

In [4]:
# Vamos a entrar con nuestro username
#Esta línea de código se utiliza para que se coloque el username a través de este cuaderno, la razón por la que diceinput[name='username']
# es para que el usuario pueda colocar su user nombre
iniciarSesion= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,"[class='account-title']"))).click()

#continua_email= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH,"//button[contains(text(),'Continúa con tu email')]"))).click()

In [5]:
#Para continuar con el ingreso colocamos Continúa con tu email
Ingresa_email= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH,"//span[contains(text(),'Inicia sesión con tu email')]"))).click()
#<em class="btn-text at-email-btn">Ingresa con tu email</em>
#<span class="menu-item-text">Inicia sesión con tu email</span>

In [6]:
email= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,"input[type='email']")))
email.clear()
email.send_keys("usuario")

In [7]:
password= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,"input[type='password']")))
password.clear()
password.send_keys("contraseña")

In [8]:
entrar= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,"button[type='submit']"))).click()

In [9]:
ClickOfertas= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH,"//a[contains(text(),'Ofertas')]"))).click()

In [10]:
Ordenar= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,"[class='filter-dropdown-trigger']"))).click()

In [11]:
menor= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH,"//span[contains(text(),'Menor precio')]"))).click()
#menor= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH,"//div[@class='mask webfonts radio']"))).click()
#<div id="customInput-9719993090479775" 
#class="mask webfonts radio"
#<div id="customInput-9719993090479775" class="custom-input"><label for="DealsSorter_opt_Price-Ascending" class="custom-label"><div id="customInput-mask-9719993090479775" class="mask webfonts radio"></div><input type="radio" data-filter-index="0" value="Price-Ascending" name="DealsSorter" id="DealsSorter_opt_Price-Ascending" data-ui="customInput"><span class="label-name">Menor precio</span></label></div>

In [12]:
#d= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH,"//a[contains(text(),'Ver más ofertas')]"))).click()
vermas= driver.find_element_by_xpath('//div[@class="show-more-deals"]').click()
#vermas= WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH,"//a[contains(text(),'Ver más ofertas')]"))).click()

C:\Users\ANTHONY\AppData\Local\Temp/ipykernel_12032/3824569005.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  vermas= driver.find_element_by_xpath('//div[@class="show-more-deals"]').click()

In [13]:
#Todos los anuncios de las ofertas en una lista
Ofertas= driver.find_elements_by_xpath('//li[@data-offer-type="Cache"]')

C:\Users\ANTHONY\AppData\Local\Temp/ipykernel_12032/3575778728.py:2: DeprecationWarning: find_elements_by_xpath is deprecated. Please use find_elements(by=By.XPATH, value=xpath) instead
  Ofertas= driver.find_elements_by_xpath('//li[@data-offer-type="Cache"]')

In [14]:
for oferta in Ofertas:
        precio= oferta.find_element_by_xpath('.//span[@class="price-amount"]').text
        #if precio != oferta.find_element_by_xpath('.//span[@class="price-amount"]' or class="count").text:
            #precio= NULL
        #else:
        #print(precio)

        Partida= oferta.find_element_by_xpath('.//div[@class="arrival-country"]').text
        #if Partida!= oferta.find_element_by_xpath('.//div[@class="departure"]').text:
            #Partida= NULL
        #else:
        #print(Partida)

        Destino= oferta.find_element_by_xpath('.//div[@class="arrival-city"]').text
            #if Destino!= oferta.find_element_by_xpath('.//div[@class="arrival-city"]').text:
            #Destino= NULL
        #else:
        print("-------------------------------------")
        print("[Partida]:", Partida)
        print("[destino]:",Destino)
        print("[Precio]:",precio)

C:\ProgramData\Anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:393: UserWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  warnings.warn("find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead")

-------------------------------------
[Partida]: PERÚ
[destino]: Lima
[Precio]: 76
-------------------------------------
[Partida]: PERÚ
[destino]: Jauja
[Precio]: 76
-------------------------------------
[Partida]: PERÚ
[destino]: Jaén
[Precio]: 83
-------------------------------------
[Partida]: PERÚ
[destino]: Cusco
[Precio]: 85
-------------------------------------
[Partida]: PERÚ
[destino]: Cajamarca
[Precio]: 85
-------------------------------------
[Partida]: PERÚ
[destino]: Ayacucho
[Precio]: 87
-------------------------------------
[Partida]: PERÚ
[destino]: Pucallpa
[Precio]: 90
-------------------------------------
[Partida]: PERÚ
[destino]: Trujillo
[Precio]: 90
-------------------------------------
[Partida]: PERÚ
[destino]: Tacna
[Precio]: 92
-------------------------------------
[Partida]: PERÚ
[destino]: Juliaca
[Precio]: 92
-------------------------------------
[Partida]: PERÚ
[destino]: Talara
[Precio]: 94
-------------------------------------
[Partida]: PERÚ
[destino]: Arequipa
[Precio]: 96
-------------------------------------
[Partida]: PERÚ
[destino]: Iquitos
[Precio]: 96
-------------------------------------
[Partida]: PERÚ
[destino]: Chiclayo
[Precio]: 97
-------------------------------------
[Partida]: PERÚ
[destino]: Piura
[Precio]: 101
-------------------------------------
[Partida]: PERÚ
[destino]: Tumbes
[Precio]: 101
-------------------------------------
[Partida]: PERÚ
[destino]: Tarapoto
[Precio]: 102
-------------------------------------
[Partida]: PERÚ
[destino]: Huanuco
[Precio]: 164
-------------------------------------
[Partida]: CHILE
[destino]: Santiago de Chile
[Precio]: 194
-------------------------------------
[Partida]: MÉXICO
[destino]: Cancún
[Precio]: 199
-------------------------------------
[Partida]: COLOMBIA
[destino]: Bogotá
[Precio]: 233
-------------------------------------
[Partida]: ESTADOS UNIDOS
[destino]: Fort Lauderdale
[Precio]: 240
-------------------------------------
[Partida]: MÉXICO
[destino]: CDMX
[Precio]: 246
-------------------------------------
[Partida]: ESTADOS UNIDOS
[destino]: Nueva York
[Precio]: 258
-------------------------------------
[Partida]: COLOMBIA
[destino]: Medellín
[Precio]: 266
-------------------------------------
[Partida]: ESTADOS UNIDOS
[destino]: Miami
[Precio]: 292
-------------------------------------
[Partida]: COLOMBIA
[destino]: Cartagena
[Precio]: 294
-------------------------------------
[Partida]: ESTADOS UNIDOS
[destino]: Los Ángeles
[Precio]: 370
-------------------------------------
[Partida]: REPÚBLICA DOMINICANA
[destino]: Punta Cana
[Precio]: 375
-------------------------------------
[Partida]: ARGENTINA
[destino]: Buenos Aires
[Precio]: 382
-------------------------------------
[Partida]: ESTADOS UNIDOS
[destino]: San Francisco
[Precio]: 584
-------------------------------------
[Partida]: ESPAÑA
[destino]: Madrid
[Precio]: 726
-------------------------------------
[Partida]: ESPAÑA
[destino]: Barcelona
[Precio]: 821
-------------------------------------
[Partida]: VENEZUELA
[destino]: Caracas
[Precio]: 1328
-------------------------------------
[Partida]: CUBA
[destino]: La Habana
[Precio]: 1605

In [47]:
Origen1=[]
for oferta in Ofertas:
    Origen= oferta.find_element_by_xpath('.//div[@class="title"]').text
    if Origen !="":
        Origen1.append(Origen)

Origen2=[]
for i in Origen1:
    if i != "desde: Lima (LIM)":
        i = "desde: Lima (LIM)"
    Origen2.append(i)
#    print(i)
#print(Origen2)

Origen=[]
for j in Origen2:
#    print(j)
    if j != '':
        j = "('PERÚ', 'Lima')"
    Origen.append(j)

for i in Origen:
    print(i)

('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')
('PERÚ', 'Lima')

In [17]:
Departamento=[]
for oferta in Ofertas:
    Destino= oferta.find_element_by_xpath('.//div[@class="arrival-city"]').text
    if Destino !="":    
        Departamento.append(Destino)
for i in Departamento:
    print(i)

Lima
Jauja
Jaén
Cusco
Cajamarca
Ayacucho
Pucallpa
Trujillo
Tacna
Juliaca
Talara
Arequipa
Iquitos
Chiclayo
Piura
Tumbes
Tarapoto
Huanuco
Santiago de Chile
Cancún
Bogotá
Fort Lauderdale
CDMX
Nueva York
Medellín
Miami
Cartagena
Los Ángeles
Punta Cana
Buenos Aires
San Francisco
Madrid
Barcelona
Caracas
La Habana

In [18]:
Pais1=[]
for oferta in Ofertas:
    Pais= oferta.find_element_by_xpath('.//div[@class="arrival-country"]').text
    if Pais != "":
        Pais1.append(Pais)

for j in Pais1:
    print(j)

PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
PERÚ
CHILE
MÉXICO
COLOMBIA
ESTADOS UNIDOS
MÉXICO
ESTADOS UNIDOS
COLOMBIA
ESTADOS UNIDOS
COLOMBIA
ESTADOS UNIDOS
REPÚBLICA DOMINICANA
ARGENTINA
ESTADOS UNIDOS
ESPAÑA
ESPAÑA
VENEZUELA
CUBA

In [40]:
n=len(Departamento)
Destino=[]
for i in range(0,n):
    j=Pais1[i],Departamento[i]
    Destino.append(j)

for i in Destino:
     print(i)

('PERÚ', 'Lima')
('PERÚ', 'Jauja')
('PERÚ', 'Jaén')
('PERÚ', 'Cusco')
('PERÚ', 'Cajamarca')
('PERÚ', 'Ayacucho')
('PERÚ', 'Pucallpa')
('PERÚ', 'Trujillo')
('PERÚ', 'Tacna')
('PERÚ', 'Juliaca')
('PERÚ', 'Talara')
('PERÚ', 'Arequipa')
('PERÚ', 'Iquitos')
('PERÚ', 'Chiclayo')
('PERÚ', 'Piura')
('PERÚ', 'Tumbes')
('PERÚ', 'Tarapoto')
('PERÚ', 'Huanuco')
('CHILE', 'Santiago de Chile')
('MÉXICO', 'Cancún')
('COLOMBIA', 'Bogotá')
('ESTADOS UNIDOS', 'Fort Lauderdale')
('MÉXICO', 'CDMX')
('ESTADOS UNIDOS', 'Nueva York')
('COLOMBIA', 'Medellín')
('ESTADOS UNIDOS', 'Miami')
('COLOMBIA', 'Cartagena')
('ESTADOS UNIDOS', 'Los Ángeles')
('REPÚBLICA DOMINICANA', 'Punta Cana')
('ARGENTINA', 'Buenos Aires')
('ESTADOS UNIDOS', 'San Francisco')
('ESPAÑA', 'Madrid')
('ESPAÑA', 'Barcelona')
('VENEZUELA', 'Caracas')
('CUBA', 'La Habana')

In [46]:
Precio=[]
for oferta in Ofertas:
    precio= oferta.find_element_by_xpath('.//span[@class="price-amount"]').text
    if precio != "":
        Precio.append(precio)

Costo=[]
for j in Precio:
    if j != float or int:
        j = j+" dolares"
    Costo.append(j)

for i in Costo:
    print(i)

76 dolares
76 dolares
83 dolares
85 dolares
85 dolares
87 dolares
90 dolares
90 dolares
92 dolares
92 dolares
94 dolares
96 dolares
96 dolares
97 dolares
101 dolares
101 dolares
102 dolares
164 dolares
194 dolares
199 dolares
233 dolares
240 dolares
246 dolares
258 dolares
266 dolares
292 dolares
294 dolares
370 dolares
375 dolares
382 dolares
584 dolares
726 dolares
821 dolares
1328 dolares
1605 dolares

In [49]:
import pandas as pd

In [53]:
# Creamos la data
data = pd.DataFrame(columns = ['Partida','Destino','Precio']) 
data['Partida'] = Origen
data['Destino'] = Destino
data['Precio']  = Costo
data

             Partida                             Destino        Precio
0   ('PERÚ', 'Lima')                        (PERÚ, Lima)    76 dolares
1   ('PERÚ', 'Lima')                       (PERÚ, Jauja)    76 dolares
2   ('PERÚ', 'Lima')                        (PERÚ, Jaén)    83 dolares
3   ('PERÚ', 'Lima')                       (PERÚ, Cusco)    85 dolares
4   ('PERÚ', 'Lima')                   (PERÚ, Cajamarca)    85 dolares
5   ('PERÚ', 'Lima')                    (PERÚ, Ayacucho)    87 dolares
6   ('PERÚ', 'Lima')                    (PERÚ, Pucallpa)    90 dolares
7   ('PERÚ', 'Lima')                    (PERÚ, Trujillo)    90 dolares
8   ('PERÚ', 'Lima')                       (PERÚ, Tacna)    92 dolares
9   ('PERÚ', 'Lima')                     (PERÚ, Juliaca)    92 dolares
10  ('PERÚ', 'Lima')                      (PERÚ, Talara)    94 dolares
11  ('PERÚ', 'Lima')                    (PERÚ, Arequipa)    96 dolares
12  ('PERÚ', 'Lima')                     (PERÚ, Iquitos)    96 dolares
13  ('PERÚ', 'Lima')                    (PERÚ, Chiclayo)    97 dolares
14  ('PERÚ', 'Lima')                       (PERÚ, Piura)   101 dolares
15  ('PERÚ', 'Lima')                      (PERÚ, Tumbes)   101 dolares
16  ('PERÚ', 'Lima')                    (PERÚ, Tarapoto)   102 dolares
17  ('PERÚ', 'Lima')                     (PERÚ, Huanuco)   164 dolares
18  ('PERÚ', 'Lima')          (CHILE, Santiago de Chile)   194 dolares
19  ('PERÚ', 'Lima')                    (MÉXICO, Cancún)   199 dolares
20  ('PERÚ', 'Lima')                  (COLOMBIA, Bogotá)   233 dolares
21  ('PERÚ', 'Lima')   (ESTADOS UNIDOS, Fort Lauderdale)   240 dolares
22  ('PERÚ', 'Lima')                      (MÉXICO, CDMX)   246 dolares
23  ('PERÚ', 'Lima')        (ESTADOS UNIDOS, Nueva York)   258 dolares
24  ('PERÚ', 'Lima')                (COLOMBIA, Medellín)   266 dolares
25  ('PERÚ', 'Lima')             (ESTADOS UNIDOS, Miami)   292 dolares
26  ('PERÚ', 'Lima')               (COLOMBIA, Cartagena)   294 dolares
27  ('PERÚ', 'Lima')       (ESTADOS UNIDOS, Los Ángeles)   370 dolares
28  ('PERÚ', 'Lima')  (REPÚBLICA DOMINICANA, Punta Cana)   375 dolares
29  ('PERÚ', 'Lima')           (ARGENTINA, Buenos Aires)   382 dolares
30  ('PERÚ', 'Lima')     (ESTADOS UNIDOS, San Francisco)   584 dolares
31  ('PERÚ', 'Lima')                    (ESPAÑA, Madrid)   726 dolares
32  ('PERÚ', 'Lima')                 (ESPAÑA, Barcelona)   821 dolares
33  ('PERÚ', 'Lima')                (VENEZUELA, Caracas)  1328 dolares
34  ('PERÚ', 'Lima')                   (CUBA, La Habana)  1605 dolares

In [67]:
data1=data[1::]

             Partida                             Destino        Precio
1   ('PERÚ', 'Lima')                       (PERÚ, Jauja)    76 dolares
2   ('PERÚ', 'Lima')                        (PERÚ, Jaén)    83 dolares
3   ('PERÚ', 'Lima')                       (PERÚ, Cusco)    85 dolares
4   ('PERÚ', 'Lima')                   (PERÚ, Cajamarca)    85 dolares
5   ('PERÚ', 'Lima')                    (PERÚ, Ayacucho)    87 dolares
6   ('PERÚ', 'Lima')                    (PERÚ, Pucallpa)    90 dolares
7   ('PERÚ', 'Lima')                    (PERÚ, Trujillo)    90 dolares
8   ('PERÚ', 'Lima')                       (PERÚ, Tacna)    92 dolares
9   ('PERÚ', 'Lima')                     (PERÚ, Juliaca)    92 dolares
10  ('PERÚ', 'Lima')                      (PERÚ, Talara)    94 dolares
11  ('PERÚ', 'Lima')                    (PERÚ, Arequipa)    96 dolares
12  ('PERÚ', 'Lima')                     (PERÚ, Iquitos)    96 dolares
13  ('PERÚ', 'Lima')                    (PERÚ, Chiclayo)    97 dolares
14  ('PERÚ', 'Lima')                       (PERÚ, Piura)   101 dolares
15  ('PERÚ', 'Lima')                      (PERÚ, Tumbes)   101 dolares
16  ('PERÚ', 'Lima')                    (PERÚ, Tarapoto)   102 dolares
17  ('PERÚ', 'Lima')                     (PERÚ, Huanuco)   164 dolares
18  ('PERÚ', 'Lima')          (CHILE, Santiago de Chile)   194 dolares
19  ('PERÚ', 'Lima')                    (MÉXICO, Cancún)   199 dolares
20  ('PERÚ', 'Lima')                  (COLOMBIA, Bogotá)   233 dolares
21  ('PERÚ', 'Lima')   (ESTADOS UNIDOS, Fort Lauderdale)   240 dolares
22  ('PERÚ', 'Lima')                      (MÉXICO, CDMX)   246 dolares
23  ('PERÚ', 'Lima')        (ESTADOS UNIDOS, Nueva York)   258 dolares
24  ('PERÚ', 'Lima')                (COLOMBIA, Medellín)   266 dolares
25  ('PERÚ', 'Lima')             (ESTADOS UNIDOS, Miami)   292 dolares
26  ('PERÚ', 'Lima')               (COLOMBIA, Cartagena)   294 dolares
27  ('PERÚ', 'Lima')       (ESTADOS UNIDOS, Los Ángeles)   370 dolares
28  ('PERÚ', 'Lima')  (REPÚBLICA DOMINICANA, Punta Cana)   375 dolares
29  ('PERÚ', 'Lima')           (ARGENTINA, Buenos Aires)   382 dolares
30  ('PERÚ', 'Lima')     (ESTADOS UNIDOS, San Francisco)   584 dolares
31  ('PERÚ', 'Lima')                    (ESPAÑA, Madrid)   726 dolares
32  ('PERÚ', 'Lima')                 (ESPAÑA, Barcelona)   821 dolares
33  ('PERÚ', 'Lima')                (VENEZUELA, Caracas)  1328 dolares
34  ('PERÚ', 'Lima')                   (CUBA, La Habana)  1605 dolares

In [ ]:
#Almacenar los datos en un archivo CSV
data1.to_excel('Ofertas.xlsx')